.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  background: none;
  color: #666;
  flex-grow: 1;

  &:focus {
    outline: none;
  }
  appearance: none;
}

.button {
  margin-left: auto;
  padding: 10px 20px;
  color: #000;
  border-radius: 10px;
  border: 1px solid #fff;
  color: #fff;

  &:hover {
    color: #000;
    background: #fff;
  }
  &:active {
    color: #fff;
    background: #666;
  }
}
