.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  background: none;
  color: var(--color-foreground);
  flex-grow: 1;
  outline: none;
  appearance: none;
  padding: 10px 12px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
