.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
}

.message {
  font-size: 14px;
  line-height: 1.4;
  background: #444;
  padding: 20px 30px;
  border-radius: 8px;

  pre {
    text-wrap: balance;
  }

  * + * {
    margin-top: 1em;
  }

  &--user {
    opacity: 0.5;
  }
}
