.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow-y: auto;
}

.message {
  font-size: 12px;
  line-height: 1.2;
  background: #444;
  padding: 20px 30px;
  border-radius: 8px;

  pre {
    text-wrap: balance;
  }

  &--user {
    opacity: 0.5;
  }
}
