:root {
  --color-foreground: #eee;
  --color-background: #222;
  --color-neutral: #888;
  --color-accent: #4dd;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  background-color: var(--color-background);
  color: var(--color-foreground);
  a {
    color: currentColor;
  }
}
